* {
    margin:0;
    padding:0;
    line-height: 1;
    box-sizing: border-box;
    transition: all .1s easy-in;
    font-family: "Roboto";
}

.header {
    background-color: #4a4f56;
}

.header .container {
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.container h1 {
    padding: 19px 0 14px 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff8984;
}

h1+p {
    padding-bottom: 13px;
    font-size: 16px;
    font-weight: normal;
    color: #ff8984;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #3B3F45;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container ul {
    padding-top: 20px;
    list-style-type: none;
}

.container-items li {
    width: 534px;
    height: 45px;
    padding: 12px;
}

.container-items .items-one, .items-three, .items-five {
    border-style: none;
    background-color: #88839e;
    color: #fff;
}

.container-items .items-two, .items-four {
    border-style: none;
    background-color: #7a7593;
    color: #fff;
}

.container-items :nth-child(6){
    border-style: none;
    background-color: #7a7593;
    color: #fff;
}

.label {
    font-size: 18px;
    font-weight: normal;
}

.label .text {
    font-size: 11px;
}

.text::before {
    content:"(";
}

.text::after {
    content: ")";
}

.container-items li:hover {
    background-color: #625e77;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.container-items li:active {
    background-color: #ff8984;
}

/*li input[type="checkbox"]:checked + span{
    text-decoration: line-through;
}*/

.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check::before {
    content: "";
    position: relative;
    width: 19px;
    height: 19px;
    background-color: #fff;
    display: inline-block;
    margin-right: 16px;
}

.label input:checked + .check::before {
    background-image: url(../img/icon.png);
    background-position: center;
    background-repeat: no-repeat;
}

.container-text {
    display: flex;
    justify-content: center;
    margin: 45px 0;
}

.label-text input[type="text"] {
    width: 534px;
    height: 45px;
}

input[type="text"] {
    background-color: #4a4f56;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

input::placeholder {
    color: #ff8984;
    font-size: 18px;
    font-weight: normal;
    border-style: none;
}

